<!DOCTYPE html>

<html>
	<head>
		<title>UiA Timeplaner</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cosmo/bootstrap.min.css">
		<style>
			h1 {
				text-align: center;
				margin: 20px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>Uoffisielle timeplaner for Universitetet i Agder</h1>
				</div>
			</div>

			{% block main %}{% endblock %}
		</div>

		<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		{% block bottom %}{% endblock %}
	</body>
</html>