{% extends "base.html" %}

{% block main %}

<div class="row">
	<div class="col-md-4">
		<h4>Hva er dette?</h4>
		<p>Denne siden samler sammen timeplanene fra <a href="http://timeplan.uia.no/swsuiah/public/no/default.aspx">Universitetet i Agder sine nettsider</a>, og gjør dem tilgjengelig i enklere og mer håndterbare formater. Du kan f.eks. abonnere direkte på timeplanen for din studieretning i kalenderapplikasjoner som Google Calendar o.l. ved bruk av adressen til iCal-filen for ditt studieprogram. Merk at timeplanene kun gjelder for ett semester, så du må hente ny kalenderfil ved semesterstart.</p>

		<hr>

		<p><small><em>Denne tjenesten drives på frivillig basis, og det gis derfor ingen garantier rundt oppetid og tilgjengelighet. Koden som driver siden er skrevet i <a href="http://golang.org/">Go</a>, og er tilgjengelig på <a href="https://github.com/oal/timeplan-uia">Github</a>. Ta gjerne kontakt på <a href="mailto:olav@lindekleiv.com">epost</a> eller <a href="https://twitter.com/oav">twitter</a> hvis du har spørsmål eller kommentarer til tjenesten.</em></small></p>
	</div>
	<div class="col-md-8">
		<table class="table">
			<thead>
				<tr>
					<th style="width: 80%">Studieretning</th>
					<th colspan="2"><input id="search" type="text" class="form-control" placeholder="S&oslash;k..."></th>
				</tr>
			</thead>
			<tbody>
				{% for timetable in timetables %}
					<tr class="element">
						<td class="element-name">{{ timetable }}</td>
						<td><a rel="nofollow" href="/ical/v2015/{{ timetable }}.ics" class="btn btn-default btn-xs btn-block btn-default">iCal</a></td>
						<td><a rel="nofollow" href="/csv/v2015/{{ timetable }}.csv" class="btn btn-default btn-xs btn-block btn-default">CSV</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
</div>

{% endblock %}

{% block bottom %}
<script>
	$(function() {
		var elements = $('.element-name');
		$('#search').on('keyup', function() {
			var search = $(this).val().toLowerCase();
			elements.each(function() {
				if($(this).text().toLowerCase().indexOf(search) != -1) {
					$(this).parent().show();
				} else {
					$(this).parent().hide();
				}
			});
		})
	})
</script>
{% endblock %}
